.dampak-hal-1 {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
}
.hal1-dampak-p {
    width: 580px;
}
.img-dampak-1 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-dampak {
    border-radius: 10px;
}
.dampak-carousel-tempat {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: -820px;
    margin-left: 70px; 
}
.img-ryn {
    border-radius: 10px;
}
.berita-ryn {
    padding-bottom: 800px;
}
.dampak-carousel-h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-top: 375px;
    margin-left: 70px;
    width: 983px;
}
.dampak-carousel-berita {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    width: 750px;
    margin-top: 30px;
    margin-left: 70px;
    padding-bottom: 80px;
}
.arrow {
    gap: 40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.button-arrow {
    background-color: transparent;
    border: 0px solid white;
}
.img-arrow {
   width: 25px; 
}