.galery-hal-1 {
    display: flex;
    justify-content: center;
    height: 58vh;
    margin-top: 115px;
}
.sub-galery {
    color: white;
}
.galery-hal-1 {
    align-items: center;
}
.img-galery {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.img {
    margin: 10px 0px 10px 10px;
}
#page-1 {
    margin-top: 125px;
}
.img-galery-hal2 {
    display: flex;
    margin: 0px auto;
}
.galery-col-3 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.galery-img-hal2 {
    margin-bottom: 10px;
}