.galery-hal-1 {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
}
.sub-galery {
    color: white;
}
.galery-hal-1 {
    align-items: center;
}
.img-galery {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.img {
    margin: 10px;
}
#page-galery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
}
#page-1 {
    margin-top: 140px;
}
.colum-1 img {
    margin: 5px;
}