.h1-galery {
    color: white;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 0.01em;
}
.sub-galery {
    color: white;
}
.galery-hal-1 {
    align-items: center;
}
.img-galery {
    display: flex;
}
.img {
    margin: 10px;
}