body {
    background-color: black;
}
.title {
    color: white;
}
.bg-img {
    background: transparent;
}
.card-text {
    color: white;
}
.text-1 {
    margin-top: 20px;
    margin-left: 20px;
}
.text-2 {
    margin-top: 440px;
    margin-left: 20px;
}
.text-3 {
    margin-left: 20px;
}
.text-4 {
    margin-left: 20px;
    margin-top: 220px;
}
.page {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
.colum-1 {
    margin: 10px;
}