* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend';
}
.navbar {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;
}
.logo {
    display: block;
    font-size: 48px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.titik {
    color: #FC3535;
}
.nav-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.nav {
    display: block;
    padding: 7px 15px;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    margin: 0 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}