body {
    background-color: black;
}
.penyebab-hal-1 {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
}
.img-penyebab-1 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 {
    background-color: #090A09;
    width: 60%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}
.box-2 {
    background-color: #090A09;
    width: 40%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}

.box-3 {
    background-color: #090A09;
    width: 52%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}

.box-4 {
    background-color: #090A09;
    width: 48%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}

.box-5 {
    background-color: #090A09;
    width: 35%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}
.hal1-penyebab-p {
    width: 550px;
}
.box-6 {
    background-color: #090A09;
    width: 65%;
    height: max-content;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 20px 10px;
    display: flex;
}
.no-1 {
    color: #6DB2D6;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.img-penyebab {
    height: 370px;
    width: min-content;
}
.text-penyebab {
    position: relative;
    margin-left: -80px;
}
.card-title-1 {
    position: absolute;
    color: white;
    bottom: 105px;
    font-weight: 600;
    font-size: 26px;
}
.card-text-1 {
    position: absolute;
    color: #FFFFFFB2;
    bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}