body {
    background-color: black;
}

.h1-1 {
    color: white;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 0.01em;
}

.h1-2 {
    color: white;
}

.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 340px;
}

.card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background-color: #090A09;
    width: 480px;
    height: 272.52px;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
}

.img-1 {
    position: absolute;
    width: 425.12px;
    height: 245.72px;
    left: 235px;
    top: 572.5px;
}

.img-2 {
    position: absolute;
    width: 325.12px;
    height: 245.72px;
    ;
    left: 785px;
    top: 572.5px;
}

.card-title-1 {
    position: relative;
    top: 150px;
    color: white;
}

.card-text-1 {
    position: relative;
    top: 150px;
    color: white;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}