body {
    background-color: black;
}

.h1-1 {
    color: white;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 0.01em;
}

.h1-2 {
    color: white;
}

.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 240px;
}

.card-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 { 
    background-color: #090A09;
    width: 680px;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    /* margin: 10px; */
}
.box-2 { 
    background-color: #090A09;
    width: 30%;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    /* margin: 10px; */
}
.box-3 { 
    background-color: #090A09;
    width: 560px;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    /* margin: 10px; */
}
.box-4 { 
    background-color: #090A09;
    width: 522px;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    /* margin: 10px; */
}
.box-5 { 
    background-color: #090A09;
    width: 330px;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    margin: 10px;
    /* margin: 10px; */
}
.box-6 { 
    background-color: #090A09;
    width: 755px;
    height: 352.52px; 
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    /* margin: 10px; */
}
.no-1 {
    position: absolute;
    color: #6DB2D6;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
.img-1 {
    width: 562.12px;
    height: 285.72px;
    margin-left: 90px;
    margin-top: 40px;
}

.img-2 {
    width: 350.83px;
    height: 305.72px;
    margin-left: 40px;
    margin-top: 25px;
}
.img-3 {
    width: 489.76px;
    height: 345.72px;
    margin-left: 60px;
}
.img-4 {
    width: 489.76px;
    height: 345.72px;
    margin-left: 30px;
}
.img-5 {
    width: 281.1px;
    height: 335.72px;  
    margin-left: 40px; 
}
.img-6 {
    width: 710.85px;
    height: 305.72px;
    margin-top: 30px;
    margin-left: 40px;
}
.text-1 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-1 {
    position: absolute;
    color: white;
    bottom: 66px;
}

.card-text-1 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}
.text-2 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-2 {
    position: absolute;
    color: white;
    bottom: 60px;
}

.card-text-2 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}
.text-3 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-3 {
    position: absolute;
    color: white;
    bottom: 60px;
}

.card-text-3 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}
.text-4 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-4 {
    position: absolute;
    color: white;
    bottom: 60px;
}

.card-text-4 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}
.text-5 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-5 {
    position: absolute;
    color: white;
    bottom: 72px;
}

.card-text-5 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}
.text-6 {
    position: relative;
    line-height: 1rem;
    margin-left: 20px;
}
.card-title-6 {
    position: absolute;
    color: white;
    bottom: 72px;
}

.card-text-6 {
   position: absolute;
   color: #FFFFFFB2;
   bottom: 1px;
   font-size: 12px;
}