@media only screen and (max-width: 1366px) {

    .dampak-hal-1 {
        height: 100vh;
    }

    .img-1 {
        width: 513px !important;
        height: 410px !important;
    }

    .solusi-hal-2 {
        margin-bottom: 400px;
    }

    .hal1-solusi {
        width: 550px;
    }

    .solusi-hal-2-p {
        display: flex;
        padding-bottom: 0px;
        border-bottom: 1px solid #D5D4D9;
    }

    .solusi-hal-2-p1 {
        font-weight: 500;
        font-size: 16px;
        color: #6DB2D6;
    }

    .p1-kiri {
        display: flex;
        flex: 1;
    }

    .solusi-main {
        margin-top: 20px;
    }

    .solusi-hal-2-h4 {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
    }

    .solusi-hal-2-h2 {
        font-weight: 600;
        font-size: 28px;
        color: #FFFFFF;
    }

    .solusi-hal-2-p2 {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
    }

    .solusi-paragraf-1 {
        margin-top: 20px;
        border-bottom: 1px solid #D5D4D9;
        padding-bottom: 20px;
    }
}