body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    /* background-image: url("../img/bg-1.png");
    height:100vh;
    background-size: cover; */
}
/* Start Hal-1 */
.index-hal1 {
    margin-top: 40px;
}
.hal-1-main {
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.hal-1-p {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.hal-1-h1 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    letter-spacing: -0.02em;
}
.hal-1-h2 {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    letter-spacing: -0.02em;
}
.hal-1-h4 {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.02em;
    margin-top: -20px;
}
.hal-1-kotak {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.hal-1-button {
    display: block;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    padding: 13px 32px 15px 24px;
    width: 323px;
    height: 52px;
}
.hal-1-button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}
.hal-1-button-2 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.hal-1-box {
    width: 287px;
    height: 246px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -8.69%, rgba(255, 255, 255, 0.1) 104.12%);
    filter: blur(0.5px);
    border-radius: 20px;
    padding: 35px 25px;
}
/* End Hal-1 */

/* Start Hal-2 */
.hal-2 {
    padding: 280px;
}
.hal-2-h1 {
    margin-bottom: 80px;
}
.hal-2-p {
    width: 600px;
    margin-left: auto;
    margin-bottom: 40px;
}
/* End Hal-2 */

/* Start Hal-3 */
.hal-3-h1 {
    text-align: center;
    margin-bottom: 100px;
}
.accordion-hal3 {
    width: 90%;
    align-items: center;
    margin: 0px auto;
}
.hal-3-accordion-item {
    margin: 30px;
    background: #090A09;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
}
.button-accordion {
    height: 110px;
    background: #090A09;
    border: 1px solid rgba(213, 212, 217, 0.1);
    border-radius: 10px;
    padding:10px;
}
.accordion-button:not(.collapsed) {
    background: #090A09;
}
.accordion-button::after {
    display: none;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 5px;
}
.text-accordion {
    display: flex;
    flex: 1;
}
.h1-nomor {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: #6DB2D6;
    border-right: 1px solid rgba(213, 212, 217, 0.1);
}
.h2-hal-3 {
    margin: auto 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
.value-accordion {
    display: flex;
    
}
.img-accordion {
    position: relative;
    margin-left: 500px;
}
.text-accordion-hal3 {
    position: relative;
    margin-top: 290px;
    margin-left: 20px;
}
.title-text-accordion {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    width: 540px;
}
.text-accordion-p {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 110px;
    width: 600px;
}
.img-accordion-2 {
    position: relative;
    margin-left: 500px;
}
.text-accordion-hal3-2 {
    position: relative;
    margin-top: px;
    margin-left: 20px;
}
.title-text-accordion-2 {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
}

/* End Hal-3 */

/* Start Hal-4 */
.hal-4 {
    margin-top: 320px;
}
.hal-4-h1 {
    margin-bottom: 10px !important;
}
.hal-4-p {
    margin-bottom: 50px;
    width: 850px;
}
.bg-img {
    background: transparent;
}
.card-text {
    color: white;
}
.hal4-dampak-tempat {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
}
.hal4-dampak-h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-top: 450px;
    margin-left: 50px;
}
.hal4-dampak-p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    width: 750px;
    margin-top: 20px;
    margin-left: 50px;
}
.text-3 {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    width: 450px;
}
.text-4 {
    color: white;
    margin-left: 50px;
    margin-top: 220px;
    font-weight: 600;
    font-size: 50px;
    line-height: 62px;
}
.page {
    display: flex;
}
.colum-1 {
    margin: 10px 5px;
}
/* End Hal-4 */

/* Start Hal-5 */
.hal-5-h1 {
    margin-top: 250px;
}
/* End Hal-5 */

/* Start Hal-6 */
.hal-6-h1 {
    margin-top: 320px;
}
.hal-6-top {
    display: flex;
    padding-bottom: 10px;
}
.pemulihan-p1 {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}
.pemulihan-p1-kiri {
    display: flex;
    flex: 1;
}
.img-pemulihan {
    margin: 5px;
}
.foto-pemulihan {
    margin-top: 5px;
    margin-bottom: 400px;
}